@font-face {
    font-family: "bebas";
    src: url("../fonts/bebas_neue/BebasNeue-Regular.ttf");
}
@font-face {
    font-family: "montserrat-bold";
    src: url("../fonts/montserrat/Montserrat-Bold.otf");
}
@font-face {
    font-family: "montserrat";
    src: url("../fonts/montserrat/Montserrat-Regular.otf");
}
/*body, html {*/
/*    height: 100%;*/
/*    margin: 0;*/
/*}*/

.nav{
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:10px;
}